<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="./fontawesome-icon/css/all.css">
    <script src="./js/script.js"></script>
    <script src="./js/angular.js"></script>
    <link rel="icon" href="./img/ic.png" type="image/x-icon">
</head>
<!--  /* The images used in this website are not mine All the credit goes to the orignal owners */ -->

<body class="bg" ng-app="my">
    <!-- Navigation -->
    <!-- Navigation -->
    <div class="nav">
        <div class="logo">
            <h1>Sneaker<span>Verse.in</span> </h1>
        </div>
        <ul class="nav-list">
            <li><a href="#" onclick="searchh()"><i class="bi-search"></i></a></li>
            <li><a href="#"><i class="bi-heart"></i></a></li>
            <li><a href="#" onclick="cart()"><i class="bi-cart2"></i></a></li>
            <li><a href="#" onclick="acc()"><i class="bi-person"></i></a>
                <!-- accunt navigation -->
                <div class="account">
                    <div class="iname">
                        <div class="pic">
                            <img src="./img/padam1.jpg">
                        </div>
                        <div class="name">
                            <h1>Padam Gadshila</h1>
                        </div>
                    </div>
                    <div class="lin"></div>
                    <div class="acc-li">
                        <ul>
                            <li><a href="sign.html"><i class="bi-person"></i>&nbsp; &nbsp;Account</a></li>
                            <li><a href="#"><i class="bi-gift"></i>&nbsp; &nbsp;Wishlist</a></li>
                            <li><a href="cart.html"><i class="bi-clipboard"></i>&nbsp; &nbsp;My Orders</a></li>
                            <li><a href="#"><i class="bi-question-octagon"></i>&nbsp; &nbsp;Help</a></li>
                            <li><a href="#"><i class="bi-box-arrow-left"></i>&nbsp; &nbsp;Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="#" onclick="sidebar()"><i class="bi-list"></i></a></li>
        </ul>
        <!-- search box -->
        <div class="serach-bar" ng-controller="stud">
            <i class="bi-x" id="i" onclick="serclod()"></i>
            <div class="input">
                <input type="text" placeholder="Input your serach" ng-model="name">
                <i class="bi-search"></i>
            </div>
            <div ng-hide="products"></div>
            <ul style="list-style: none; font-size: 18px; margin-left: 20px;">
                <li ng-repeat="a in products | filter : name" ng-show="name">
                    {{a.name}}
                </li>
            </ul>
        </div>
    </div>
    <div class="blur"></div>
    <!-- Searching scripts -->
    <script>
        var a = angular.module("my", []);
        a.controller('stud', function ($scope) {
            $scope.products = [
                { name: 'Jordan Running Shoes' },
                { name: 'Air Max 270' },
                { name: 'Arrow Casual Shoes' },
                { name: 'Air Max Axis' },
                { name: 'Fiba Casual Shoes' }
            ]
        });
    </script>
    <!-- side navigation bar -->
    <div class="side-bar">
        <i class="bi-x" onclick="closesidebar()"></i>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html">Shop</a></li>
            <li><a href="cart.html">Cart</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="sign.html">Signup/Login</a></li>
        </ul>
    </div>

    <!-- cart navigation -->
    <div class="cart">
        <div class="cartscroll">
            <div class="cartpro">
                <div class="cartimg">
                    <img src="./Shoes/Men/Air Max/am1.jpg">
                </div>
                <div class="cartinfo">
                    <h1>Jordan shoes (White) Running Shoes</h1>
                    <div class="qnty">
                        <span>Quantity</span>
                        <input type="number" value="1">
                    </div>
                </div>
                <div class="cartprice">
                    <span>₹350</span>
                    <p>Remove</p>
                </div>
            </div>

            <div class="total">
                <div class="ttt">
                    <h3>Subtotal</h3>
                </div>
                <div class="ttt">
                    <span>₹350</span>
                </div>
            </div>
            <div class="check">
                <a href="cart.html">View cart</a>
                <a href="#">Checkout</a>
            </div>
        </div>
    </div>
    <div class="maincontainor">
        <div class="m1">
            <input type="radio" name="size" id="s1">
            <input type="radio" name="size" id="s2">
            <input type="radio" name="size" id="s3">
            <input type="radio" name="size" id="s4">
            <div class="products-image">
                <img src="./Shoes/Men/Air Max Asis/ama1.jpg">
            </div>
            <div class="products-option">
                <h1>Jordern Running Shoes</h1>
                <div class="products-price">
                    <span>350</span>
                    <i class="bi-star-fill"></i>
                    <p>4.5</p>
                </div>
                <h2>Colours</h2>
                <div class="brands-color">
                    <span class="col"></span>
                    <span class="col"></span>
                    <span class="col"></span>
                    <span class="col"></span>
                </div>
                <h2>Sizes</h2>
                <div class="products-size">
                    <label for="s1" class="ss1">6</label>
                    <label for="s2" class="ss2">7</label>
                    <label for="s3" class="ss3">8</label>
                    <label for="s4" class="ss4">9</label>
                </div>
                <div class="distination">
                    <div class="quantity">
                        <i class="bi-dash" onclick="mi()"></i>
                        <input type="number" value="1" id="quantity">
                        <i class="bi-plus" onclick="pa()"></i>
                    </div>
                    <a href="#" onclick="added()"><i class="bi-bag"></i> Add to Cart</a>

                </div>
            </div>
        </div>
        <div class="m2">
            <h2>Discription</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum delectus voluptates dolore ipsum nulla
                corrupti perferendis corporis id, quos tempora animi iusto voluptas pariatur repudiandae tempore
                consectetur doloribus doloremque natus qui aperiam laborum sit eum rem. Ad architecto possimus explicabo
                ipsa sequi recusandae, soluta incidunt dignissimos temporibus reiciendis assumenda at mollitia labore
                molestias repellendus ipsum commodi illo alias iusto quia suscipit ab. Illo voluptates aperiam
                temporibus vero. Voluptate est accusamus ab, similique sint esse iure nobis, vel fugit necessitatibus
                iusto dolores error maxime quod cupiditate libero dolor repudiandae ex veniam laboriosam nulla inventore
                tempore rem id! Quia, pariatur earum. Aliquid?</p>
        </div>
        <div class="m3">
            <div class="hd">
                <h1>Revies</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ab explicabo eaque omnis officia,
                    excepturi est. Eos, debitis sed recusandae non ratione obcaecati iusto a beatae sunt? Nostrum, ipsam
                    sint?</p>
            </div>
            <div class="hd">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem eligendi ex,
                    voluptatibus doloremque asperiores, quam, et facilis maxime tenetur maiores vitae. Similique
                    accusantium error debitis corrupti voluptates consequatur impedit illo eum ut nihil animi commodi
                    nobis culpa ratione, quam optio magni? Molestias id, ipsa odio distinctio inventore provident.
                    Dolorem!</p>
            </div>
        </div>
    </div>
</body>

</html>